* {
    font-family: Arial, sans-serif;
}

html, body{
    height: 100%;
}

body {
    padding-left: 15px;
}

.syntax {
    background-color: #efefef;
    border: solid;
    border-width: 1px;
    padding: 0px 5px;
}
