* {
    font-family: Raleway, sans-serif;
    margin: 10px;
}

body {
    margin-left: 12.5%;
    width: 75%;
    min-width: 50%;
}

.header {
    background-image: url("http://i.imgur.com/kk0351J.jpg");
    background-position: bottom center;
    border-radius: 20px;
    border: solid;
    margin: 0;
}

.menu {
    text-align: center;
    background-color: Tan;
    border-radius: 10px;
    border: solid;
}

li {
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    padding: 5px 25px;
}

h1 {
    color: White;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 70px;
    padding: 30% 0%;
}

#me {
    width: 30%;
    display: block;
    text-align: center;
    margin-left: 35%;
}

img {
    margin-left: 15px;
}

.media {
    text-align: center;
}
