#title {
    font-family: 'Bitter', serif;
}

.jumbotron {
	background-color: #e5e5e5;
	color: #000000;
	padding: 100px 25px;
}

.container-fluid {
	padding: 50px 50px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    z-index: 9999;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}

.bg-1 {
	background-color: #ffffff;
	color: #000000;
}

.bg-2 {
	background-color: #e5e5e5; /* Gray */
	color: #000000;
}

.bg-3 {
	background-color: rgb(160, 177, 207); /* "xkcd color" */
	color: #000000;
}

.slideanim {
	visibility:hidden;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide; 
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    visibility: visible; 
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    } 
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}